body.login {
    background-color: #993300;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.login h1 a {
    background-image: url('login-logo.png');
}